body{
    margin:0;padding:0;
}

#header .nav-search {
    /* remove float  */
    margin-top: 5px;
    margin-left: 5rem;
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
}


.nav-search * {
    transition: none;
}

body.search-open .icon-search.open {

    /* remove float right */
    margin-top: 5px;
    margin-left: 5rem;
    width: 54px;
    height: 40px;
    padding: -67px;
    position: relative;
    top: 114px;
}

.search-box > div {
    background: #95C8ED;
}


.icon-search {
    win-width: 20px;
    min-height: 20px;
    background-image: url("../icon-search-24.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    color:#fff;
}


.search-box .search-mimic {
}


.flydrawr-search-box .flydrawr-search-mimic {

    top: 82px;
}
.flydrawr-search-box .flydrawr-search-mimic span:before {
    content: '';
    background-image: url("../icon-search-24.png");
}


.flydrawr-search-box {
    border-bottom: 8px solid #fff; }
